<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OctoUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OctoUpload.Properties.Settings>
            <setting name="watchFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="octoPrintAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="enableKeywords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="localStorage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </OctoUpload.Properties.Settings>
    </userSettings>
</configuration>